In [2]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import pickle
df=pd.read_csv("insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [7]:
df['sex']=df['sex'].astype('category').cat.codes
df['smoker']=df['smoker'].astype('category').cat.codes
df['region']=df['region'].astype('category').cat.codes
df.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

In [11]:
X=df.drop('charges', axis=1)
y=df.charges

In [12]:
X=X.values
y=y.values

In [24]:
X_train,X_test,y_train,y_test =train_test_split(X,y,test_size=0.2)
clf=LinearRegression()
clf.fit(X_train,y_train)
clf.score(X_test,y_test)

0.8043893756705949

In [25]:
with open('model','wb') as f:
    pickle.dump('model',f)

In [29]:
clf.predict([[21,1,25,0,0,1]])

array([1501.41028273])